### Reading files with open
### Writing files with open
### Loading data with Pandas
### Working with and Saving data with Pandas

# Leyendo archivos con open

In [3]:
with open('../data/data.txt', 'r') as file:
    lineas = file.readlines()
    for linea in lineas:
        print(linea)

Hola
,Mundo
,esta
,es
,otra
,linea,

In [5]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = '../data/Example1.txt'
urllib.request.urlretrieve(url, filename)

('../data/Example1.txt', <http.client.HTTPMessage at 0x2a753c4dfd0>)

In [11]:
with open('../data/data.txt', 'a') as file:
    file.write('Linea 1')
    file.write('Linea 2')

In [73]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = '../data/members.txt'
exReg = '../data/inactive.txt'
fee =('yes','no')

def genFiles(current, old):
    with open(current,'w+') as writefile:
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile:
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg, exReg)

In [74]:
'''
The two arguments for this function are the files:
- currentMem: File containing list of current members
- exMem: File containing list of old members

This function should remove all rows from currentMem containing 'no'
in the 'Active' column and appends them to exMem.
'''
def cleanFiles(currentMem, exMem):
    with open(currentMem, 'r') as current_mem:
        titulo = current_mem.readline()
        todos = current_mem.readlines()
        miembros = [miembro for miembro in todos if miembro.split()[2] == 'yes']
        no_miembros = [miembro for miembro in todos if miembro.split()[2] == 'no']

    with open(currentMem, 'w') as current_mem:
        current_mem.write(titulo)
        for miembro in miembros:
            current_mem.write(miembro)

    with open(exMem, 'a') as ex_mem:
        for miembro in no_miembros:
            ex_mem.write(miembro)

cleanFiles('../data/members.txt', '../data/inactive.txt')

In [76]:
# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = '../data/members.txt'
exReg = '../data/inactive.txt'
cleanFiles(memReg,exReg)

headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())

with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    13056      2020-11-1    yes
    49352      2015-6-22    yes
    47736      2015-8-8     yes
    24299      2016-4-17    yes
    70968      2016-8-24    yes
    92331      2017-4-15    yes
    30068      2015-2-25    yes
    17211      2019-11-19   yes
    82925      2020-5-7     yes
    14370      2020-12-22   yes
    90697      2017-3-5     yes
    76347      2019-5-16    yes

Inactive Members:


Membership No  Date Joined  Active
    67456      2015-9-18    no
    86220      2019-7-4     no
    30781      2019-11-18   no
    95539      2020-10-18   no
    95628      2018-1-8     no
    67098      2015-8-25    no
    18819      2020-2-18    no
    53276      2019-8-21    no
    58895      2017-6-18    no
    96235      2019-6-11    no
    38546      2015-9-11    no

# Pandas

In [3]:
import pandas as pd

In [4]:
# Crear un dataframe a partir de un diccionario, simple
diccionario = {
    'frutas': ['Plátano', 'Fresa', 'Manzana', 'Naranja', 'Arándano'],
    'cantidad': [10, 5, 4, 12, 6],
    'precio': [2.3, 1.5, 1.2, 4.5, 3.4],
    'color': ['amarillo', 'rojo', 'verde', 'naranja', 'azul'],
    'pais': ['España', 'Francia', 'Italia', 'España', 'Francia']
}
df = pd.DataFrame(diccionario)
df

     frutas  cantidad  precio     color     pais
0   Plátano        10     2.3  amarillo   España
1     Fresa         5     1.5      rojo  Francia
2   Manzana         4     1.2     verde   Italia
3   Naranja        12     4.5   naranja   España
4  Arándano         6     3.4      azul  Francia

In [5]:
# Visualizar un indice
df['frutas']

0     Plátano
1       Fresa
2     Manzana
3     Naranja
4    Arándano
Name: frutas, dtype: object

In [6]:
# Visualizar varios índices
df[['frutas', 'precio', 'pais']]

     frutas  precio     pais
0   Plátano     2.3   España
1     Fresa     1.5  Francia
2   Manzana     1.2   Italia
3   Naranja     4.5   España
4  Arándano     3.4  Francia

In [90]:
df.to_csv('../data/frutas.csv')

In [7]:
df.iloc[1, 0]

'Fresa'

In [8]:
df.loc[0, 'frutas']

'Plátano'

In [10]:
df['pais'].unique()

array(['España', 'Francia', 'Italia'], dtype=object)

In [11]:
df['pais'] == 'Francia'

0    False
1     True
2    False
3    False
4     True
Name: pais, dtype: bool

In [12]:
francia = df[df['pais'] == 'Francia']
francia

     frutas  cantidad  precio color     pais
1     Fresa         5     1.5  rojo  Francia
4  Arándano         6     3.4  azul  Francia

In [13]:
francia.to_csv('../data/francia.csv')