In [11]:
import pandas as pd

In [12]:
data_sga = pd.read_csv('./data/matriculassga.csv')
data_sva = pd.read_csv('./data/matriculassva.csv')

In [13]:
data_sga

       id_curso  id_usuario  semestre
0          8797        7745        16
1          8797        8695        16
2          8797        9374        16
3          8797        9375        16
4          8797        9449        16
...         ...         ...       ...
36293     14990       11146        16
36294     14990       11376        16
36295     14990       11024        16
36296     14930       11050        16
36297     14897        7513        16

[36298 rows x 3 columns]

In [14]:
data_sva

       id_curso  id_usuario  semestre
0          8799       11015        16
1          8799       11536        16
2          8799       11101        16
3          8799       10652        16
4          8799       10835        16
...         ...         ...       ...
36740     14926        1739        16
36741     14926        2394        16
36742     14926        2399        16
36743     14926        3493        16
36744     14926        4520        16

[36745 rows x 3 columns]

In [15]:
merged_df = pd.merge(data_sga, data_sva, how='outer', indicator=True)
merged_df

       id_curso  id_usuario  semestre      _merge
0          8797        7745        16        both
1          8797        8695        16        both
2          8797        9374        16        both
3          8797        9375        16        both
4          8797        9449        16        both
...         ...         ...       ...         ...
36740     12998        4512        16  right_only
36741     12265        4512        16  right_only
36742     13000        4512        16  right_only
36743     13560        4547        16  right_only
36744     13560        4512        16  right_only

[36745 rows x 4 columns]

In [16]:
sin_problemas = merged_df[merged_df['_merge'] == 'both']
sin_problemas

       id_curso  id_usuario  semestre _merge
0          8797        7745        16   both
1          8797        8695        16   both
2          8797        9374        16   both
3          8797        9375        16   both
4          8797        9449        16   both
...         ...         ...       ...    ...
36293     14990       11146        16   both
36294     14990       11376        16   both
36295     14990       11024        16   both
36296     14930       11050        16   both
36297     14897        7513        16   both

[36298 rows x 4 columns]

In [17]:
matricula = merged_df[merged_df['_merge'] == 'left_only']
matricula

Empty DataFrame
Columns: [id_curso, id_usuario, semestre, _merge]
Index: []

In [18]:
desmatricula = merged_df[merged_df['_merge'] == 'right_only']
desmatricula

       id_curso  id_usuario  semestre      _merge
36298     13663       10817        16  right_only
36299     14468       10820        16  right_only
36300     14468       10728        16  right_only
36301     10651        8216        16  right_only
36302      9367       10856        16  right_only
...         ...         ...       ...         ...
36740     12998        4512        16  right_only
36741     12265        4512        16  right_only
36742     13000        4512        16  right_only
36743     13560        4547        16  right_only
36744     13560        4512        16  right_only

[447 rows x 4 columns]

In [19]:
matricula_list = list(zip(matricula['id_curso'], matricula['id_usuario']))
matricula_list

[]

In [20]:
desmatricula_list = list(zip(desmatricula['id_curso'], desmatricula['id_usuario']))
desmatricula_list

[(13663, 10817),
 (14468, 10820),
 (14468, 10728),
 (10651, 8216),
 (9367, 10856),
 (9373, 10643),
 (9373, 10743),
 (9373, 11651),
 (10663, 10856),
 (11715, 11651),
 (11715, 10643),
 (11715, 10743),
 (12553, 10643),
 (12553, 10743),
 (12556, 10743),
 (12556, 10643),
 (12556, 11651),
 (13212, 10643),
 (13212, 10743),
 (13212, 11651),
 (13703, 11651),
 (13703, 10643),
 (13703, 10743),
 (14059, 10643),
 (14059, 10743),
 (14059, 11651),
 (14310, 11651),
 (14310, 10643),
 (14310, 10743),
 (14480, 11651),
 (9377, 10019),
 (10672, 10019),
 (10672, 9745),
 (11723, 7488),
 (12560, 10019),
 (12560, 9745),
 (13219, 7488),
 (13219, 9745),
 (13706, 10019),
 (13706, 9745),
 (14062, 9745),
 (14312, 10019),
 (14884, 7488),
 (14967, 10019),
 (15089, 7488),
 (15089, 9745),
 (9386, 84),
 (9386, 3889),
 (9386, 443),
 (9402, 11804),
 (9402, 7314),
 (9405, 11230),
 (10690, 11230),
 (10697, 11230),
 (11737, 11804),
 (12571, 11804),
 (12573, 11230),
 (12576, 9928),
 (12576, 11230),
 (13224, 11230),
 (13712, 11804),
 (14065, 11804),
 (14313, 10972),
 (14313, 11450),
 (14313, 11804),
 (9414, 10317),
 (9414, 8317),
 (11745, 8317),
 (14066, 8317),
 (14066, 7307),
 (12581, 1479),
 (14663, 1479),
 (9437, 8280),
 (12595, 5106),
 (13242, 8280),
 (13725, 8280),
 (14077, 8280),
 (13730, 5106),
 (14325, 5106),
 (11777, 1479),
 (10756, 10091),
 (11776, 11356),
 (11776, 10874),
 (12615, 10874),
 (12615, 11356),
 (13264, 10874),
 (13264, 11356),
 (13733, 11356),
 (13733, 10874),
 (14079, 11356),
 (14079, 10874),
 (14324, 11356),
 (14324, 10874),
 (14488, 9455),
 (14671, 10874),
 (14671, 11356),
 (14705, 9928),
 (14728, 7299),
 (9502, 2084),
 (14729, 2084),
 (11821, 7138),
 (12645, 7138),
 (13759, 7138),
 (14678, 7138),
 (14714, 6269),
 (11833, 6244),
 (11833, 6269),
 (12653, 6244),
 (13290, 6244),
 (14111, 6244),
 (14112, 6244),
 (14508, 6269),
 (14508, 6244),
 (10822, 10091),
 (14509, 7256),
 (9573, 7307),
 (9573, 6728),
 (9573, 6830),
 (9573, 7256),
 (10839, 5277),
 (10852, 5277),
 (11861, 5277),
 (12679, 6728),
 (12679, 7307),
 (12679, 7256),
 (12679, 6830),
 (13785, 5277),
 (14126, 5277),
 (14359, 7256),
 (14516, 5277),
 (9585, 7256),
 (12693, 7307),
 (9608, 11000),
 (9608, 10707),
 (10882, 10707),
 (10882, 11000),
 (11887, 11000),
 (11887, 10707),
 (12699, 6344),
 (13330, 10707),
 (13330, 11000),
 (13798, 11000),
 (13798, 10707),
 (14138, 11000),
 (14138, 10707),
 (14522, 11036),
 (14681, 10707),
 (14681, 11000),
 (14730, 10707),
 (14730, 11000),
 (9632, 10206),
 (9636, 6344),
 (11898, 8488),
 (12709, 8488),
 (12709, 10206),
 (12713, 10206),
 (12713, 3093),
 (13339, 10206),
 (13339, 8515),
 (13805, 8488),
 (14371, 8488),
 (14371, 10206),
 (10900, 8488),
 (10900, 8515),
 (12718, 6344),
 (13347, 6344),
 (9671, 11504),
 (9684, 11808),
 (10918, 11808),
 (10933, 11504),
 (11924, 10603),
 (11938, 11808),
 (12729, 10602),
 (12729, 10603),
 (13351, 11504),
 (13363, 11808),
 (13815, 11808),
 (14149, 11504),
 (14373, 10603),
 (14527, 11504),
 (14625, 10603),
 (14683, 11504),
 (14711, 10603),
 (14718, 11808),
 (14732, 11504),
 (14736, 11808),
 (14158, 10602),
 (9709, 5423),
 (9709, 5467),
 (9709, 5421),
 (9709, 5451),
 (10949, 5422),
 (11952, 5422),
 (11956, 5422),
 (12755, 5422),
 (13372, 5451),
 (13372, 5423),
 (13372, 5421),
 (13372, 5467),
 (13380, 5423),
 (13380, 5467),
 (13380, 5421),
 (13380, 5451),
 (13834, 5467),
 (13834, 5421),
 (13834, 5451),
 (13834, 5423),
 (14165, 5451),
 (14165, 5423),
 (14165, 5421),
 (14165, 5467),
 (14388, 5422),
 (14536, 5423),
 (14536, 5467),
 (14536, 5421),
 (14536, 5451),
 (14634, 5422),
 (14692, 10602),
 (9738, 6380),
 (11973, 6380),
 (11979, 6380),
 (12774, 6380),
 (13391, 6380),
 (13396, 408),
 (9757, 7145),
 (11989, 7145),
 (11994, 7145),
 (11994, 408),
 (12785, 7145),
 (12785, 408),
 (13402, 7145),
 (13402, 408),
 (9773, 11231),
 (9779, 10132),
 (11002, 11231),
 (11007, 11231),
 (11993, 11231),
 (12790, 11231),
 (13400, 11231),
 (13855, 11231),
 (9782, 10132),
 (14816, 10132),
 (14816, 10219),
 (9780, 10132),
 (11009, 10132),
 (12007, 10132),
 (12793, 10132),
 (14401, 10132),
 (12009, 411),
 (12812, 4204),
 (9820, 10972),
 (9820, 11450),
 (11042, 11450),
 (11042, 10972),
 (12030, 10972),
 (12030, 11450),
 (12816, 10972),
 (12816, 11450),
 (13424, 10972),
 (13424, 11450),
 (13869, 10972),
 (13869, 11450),
 (9836, 10765),
 (9836, 11452),
 (11054, 11452),
 (11054, 10765),
 (11058, 11452),
 (11058, 10765),
 (12039, 10091),
 (12039, 11452),
 (12039, 10765),
 (12822, 10765),
 (12822, 11452),
 (13427, 11452),
 (13427, 10765),
 (13870, 11452),
 (13870, 10765),
 (9852, 7514),
 (13433, 7514),
 (13440, 7514),
 (14644, 7514),
 (9896, 10709),
 (9896, 11193),
 (9896, 11049),
 (11100, 10709),
 (11100, 11193),
 (11100, 11049),
 (12071, 10709),
 (12071, 11193),
 (12071, 11049),
 (12847, 10709),
 (12847, 11193),
 (12847, 11049),
 (14202, 10709),
 (14202, 11049),
 (14202, 11193),
 (14413, 11049),
 (14413, 11193),
 (14413, 10709),
 (14554, 10709),
 (14554, 11193),
 (14554, 11049),
 (13479, 1663),
 (9972, 10741),
 (11169, 10741),
 (12127, 10741),
 (12891, 10741),
 (13483, 10741),
 (13909, 10741),
 (13911, 10741),
 (11181, 1663),
 (10008, 6509),
 (12152, 6509),
 (11201, 6509),
 (11220, 1687),
 (10044, 6509),
 (11229, 6509),
 (13921, 6509),
 (11232, 11036),
 (12178, 11036),
 (12926, 11036),
 (12931, 11036),
 (13507, 11036),
 (13924, 11036),
 (13925, 6550),
 (10064, 3412),
 (11242, 3412),
 (12187, 3412),
 (12930, 3412),
 (10070, 5719),
 (10070, 6550),
 (13927, 5719),
 (14226, 6550),
 (12941, 6550),
 (14561, 9655),
 (14561, 11583),
 (14751, 11514),
 (14771, 11583),
 (14771, 11514),
 (14784, 11583),
 (14784, 11514),
 (14799, 11514),
 (14799, 11583),
 (14808, 11514),
 (14808, 11583),
 (14810, 9655),
 (14810, 11583),
 (14810, 11514),
 (14815, 11583),
 (14815, 11514),
 (14912, 9655),
 (14912, 11514),
 (14912, 11583),
 (10103, 9655),
 (14913, 9655),
 (10104, 8981),
 (10106, 8981),
 (12211, 8981),
 (12953, 8981),
 (14918, 8981),
 (11279, 8981),
 (10127, 11821),
 (10164, 11817),
 (11312, 11817),
 (12245, 11817),
 (12982, 10714),
 (12982, 11817),
 (12982, 11609),
 (12982, 11641),
 (13539, 10714),
 (13539, 11817),
 (13950, 11641),
 (13950, 11609),
 (14436, 10709),
 (14436, 11049),
 (14436, 11193),
 (14436, 11609),
 (14436, 10714),
 (14436, 11641),
 (14571, 11609),
 (14571, 11641),
 (14571, 10714),
 (14652, 11609),
 (14652, 10714),
 (14652, 11641),
 (14698, 11641),
 (14698, 11609),
 (14725, 11817),
 (14725, 10714),
 (14764, 11609),
 (14764, 10759),
 (14764, 10713),
 (14764, 11197),
 (14764, 11274),
 (14764, 10882),
 (14764, 11208),
 (14764, 11145),
 (14764, 10748),
 (14764, 11043),
 (14764, 11312),
 (14764, 10668),
 (14764, 10734),
 (14764, 11690),
 (14764, 11229),
 (14764, 11086),
 (14764, 11346),
 (14764, 11641),
 (14764, 10719),
 (14764, 11642),
 (14764, 11785),
 (14764, 11679),
 (14764, 11178),
 (14764, 10777),
 (14764, 10714),
 (14764, 11341),
 (14764, 11381),
 (14764, 11447),
 (14764, 11222),
 (14764, 11763),
 (14764, 11033),
 (14764, 10784),
 (14764, 10804),
 (14764, 11791),
 (14764, 11333),
 (14764, 10752),
 (14764, 11817),
 (14764, 10938),
 (14764, 11236),
 (14915, 11817),
 (14984, 10714),
 (10168, 9049),
 (10168, 10112),
 (14760, 10112),
 (14917, 9049),
 (11329, 10112),
 (12253, 10112),
 (12988, 10112),
 (13956, 9049),
 (14443, 10112),
 (14919, 10112),
 (11339, 4512),
 (12998, 3477),
 (12998, 4512),
 (12265, 4512),
 (13000, 4512),
 (13560, 4547),
 (13560, 4512)]