In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/datos_semana_9.csv')
df

,curso,id_recurso,nombre,forum,resource,assign,label,url,quiz,chat,...,page,lesson,choice,scorm,h5pactivity,data,book,wiki,glossary,feedback
0,12152,133190,General,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12152,134547,WEEK 1,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12152,134548,WEEK 2,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12152,134549,WEEK 3,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12152,134550,WEEK 4,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,13963,133663,General,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8603,13963,136711,10 de July - 16 de July,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8604,13963,138716,17 de July - 23 de July,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8605,13963,141117,24 de July - 30 de July,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8606,13963,143275,31 de July - 6 de August,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.fillna(0)
df

,curso,id_recurso,nombre,forum,resource,assign,label,url,quiz,chat,...,page,lesson,choice,scorm,h5pactivity,data,book,wiki,glossary,feedback
0,12152,133190,General,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12152,134547,WEEK 1,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12152,134548,WEEK 2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12152,134549,WEEK 3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12152,134550,WEEK 4,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,13963,133663,General,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8603,13963,136711,10 de July - 16 de July,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8604,13963,138716,17 de July - 23 de July,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8605,13963,141117,24 de July - 30 de July,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8606,13963,143275,31 de July - 6 de August,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
columnas = ['forum', 'resource', 'assign', 'label', 'url', 'quiz', 'chat', 'folder',
            'workshop', 'page', 'lesson', 'choice', 'scorm', 'h5pactivity', 'data',
            'book', 'wiki', 'glossary', 'feedback']
for columna in columnas:
    df[columna] = df[columna].astype(int)

df

,curso,id_recurso,nombre,forum,resource,assign,label,url,quiz,chat,...,page,lesson,choice,scorm,h5pactivity,data,book,wiki,glossary,feedback
0,12152,133190,General,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,12152,134547,WEEK 1,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,12152,134548,WEEK 2,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,12152,134549,WEEK 3,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,12152,134550,WEEK 4,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,13963,133663,General,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8603,13963,136711,10 de July - 16 de July,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8604,13963,138716,17 de July - 23 de July,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8605,13963,141117,24 de July - 30 de July,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8606,13963,143275,31 de July - 6 de August,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Agregar el dato de los cursos (nombres)

In [5]:
df_datos = pd.read_csv('./data/datos_cursos.csv')
df_datos

,id_curso,nombre_curso,nombre_docente,id_escuela,nombre_escuela,departamento_docente,tipo_curso
0,13552,"2023-1, FUNDAMENTOS DE DISEÑO, 03, ARQUI. Y UR...",MORA GODINEZ LUIS RAMON,36,ARQUITECTURA Y URBANISMO,INGENIERIA CIVIL,Teoria
1,9627,"2023-1, TEORÍA DEL TURISMO, 08, TURISMO, 1",BLACIDO ALVA LUZ,15,TURISMO,TURISMO,Teoria
2,12725,"2023-1, ORGANIZACIÓN DE CONGRESOS Y EVENTOS, 0...",BLACIDO ALVA LUZ,15,TURISMO,TURISMO,Teoria
3,11194,"2023-1, TALLER DE INVESTIGACIÓN EDUCATIVA I, 0...",NIVIN VARGAS LAURA ROSA,28,"EDUCACIÓN: COMUNICACIÓN, LINGÜÍSTICA Y LITERAT...",EDUCACION,Teoria
4,11009,"2023-1, PSICOLOGÍA EDUCATIVA, 07, ED. PRIM. E ...",LOPEZ CRUZ BERTHA,19,EDUCACIÓN: PRIMARIA Y EDUCACIÓN BILINGÜE INTER...,EDUCACION,Teoria
...,...,...,...,...,...,...,...
1497,9390,"2023-1, ENFERMERÍA EN SALUD DEL ADULTO II, 07,...",ZAMBRANO GUIMARAY JULIA ISABEL,11,ENFERMERÍA,ENFERMERÍA,Teoria
1498,10789,"2023-1, SEMINARIO DE TESIS, 07, ADMINISTRACIÓN, 2",ZARZOSA MARQUEZ EVA DELFINA,13,ADMINISTRACIÓN,ADMINISTRACIÓN,Teoria
1499,11204,"2023-1, INGLÉS BÁSICO I, 07, INGLES, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria
1500,12914,"2023-1, INGLÉS BÁSICO III, 05, INGLES, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria
1501,12921,"2023-1, COMPOSICIÓN EN INGLÉS I, 05, INGLES, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria

In [6]:
df_datos[df_datos['departamento_docente'] == '-']

Empty DataFrame
Columns: [id_curso, nombre_curso, nombre_docente, id_escuela, nombre_escuela, departamento_docente, tipo_curso]
Index: []

In [7]:
def extraer_cadenas(texto):
    partes = texto.split(',')
    if len(partes) == 5:
        return partes[1] +','+ partes[4]
    return partes[1] +','+ partes[4] +' -'+ partes[5]

In [8]:
df_datos['nombre_curso'] = df_datos['nombre_curso'].apply(extraer_cadenas)

In [9]:
df_datos

,id_curso,nombre_curso,nombre_docente,id_escuela,nombre_escuela,departamento_docente,tipo_curso
0,13552,"FUNDAMENTOS DE DISEÑO, 1",MORA GODINEZ LUIS RAMON,36,ARQUITECTURA Y URBANISMO,INGENIERIA CIVIL,Teoria
1,9627,"TEORÍA DEL TURISMO, 1",BLACIDO ALVA LUZ,15,TURISMO,TURISMO,Teoria
2,12725,"ORGANIZACIÓN DE CONGRESOS Y EVENTOS, 1",BLACIDO ALVA LUZ,15,TURISMO,TURISMO,Teoria
3,11194,"TALLER DE INVESTIGACIÓN EDUCATIVA I, 1",NIVIN VARGAS LAURA ROSA,28,"EDUCACIÓN: COMUNICACIÓN, LINGÜÍSTICA Y LITERAT...",EDUCACION,Teoria
4,11009,"PSICOLOGÍA EDUCATIVA, 1",LOPEZ CRUZ BERTHA,19,EDUCACIÓN: PRIMARIA Y EDUCACIÓN BILINGÜE INTER...,EDUCACION,Teoria
...,...,...,...,...,...,...,...
1497,9390,"ENFERMERÍA EN SALUD DEL ADULTO II, 1",ZAMBRANO GUIMARAY JULIA ISABEL,11,ENFERMERÍA,ENFERMERÍA,Teoria
1498,10789,"SEMINARIO DE TESIS, 2",ZARZOSA MARQUEZ EVA DELFINA,13,ADMINISTRACIÓN,ADMINISTRACIÓN,Teoria
1499,11204,"INGLÉS BÁSICO I, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria
1500,12914,"INGLÉS BÁSICO III, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria
1501,12921,"COMPOSICIÓN EN INGLÉS I, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria

In [10]:
df_all = pd.merge(df_datos, df, left_on='id_curso', right_on='curso')
df_all

,id_curso,nombre_curso,nombre_docente,id_escuela,nombre_escuela,departamento_docente,tipo_curso,curso,id_recurso,nombre,...,page,lesson,choice,scorm,h5pactivity,data,book,wiki,glossary,feedback
0,13552,"FUNDAMENTOS DE DISEÑO, 1",MORA GODINEZ LUIS RAMON,36,ARQUITECTURA Y URBANISMO,INGENIERIA CIVIL,Teoria,13552,133541,General,...,0,0,0,0,0,0,0,0,0,0
1,9627,"TEORÍA DEL TURISMO, 1",BLACIDO ALVA LUZ,15,TURISMO,TURISMO,Teoria,9627,132692,General,...,0,0,0,0,0,0,0,0,0,0
2,12725,"ORGANIZACIÓN DE CONGRESOS Y EVENTOS, 1",BLACIDO ALVA LUZ,15,TURISMO,TURISMO,Teoria,12725,133320,General,...,0,0,0,0,0,0,0,0,0,0
3,11194,"TALLER DE INVESTIGACIÓN EDUCATIVA I, 1",NIVIN VARGAS LAURA ROSA,28,"EDUCACIÓN: COMUNICACIÓN, LINGÜÍSTICA Y LITERAT...",EDUCACION,Teoria,11194,132991,General,...,0,0,0,0,0,0,0,0,0,0
4,11009,"PSICOLOGÍA EDUCATIVA, 1",LOPEZ CRUZ BERTHA,19,EDUCACIÓN: PRIMARIA Y EDUCACIÓN BILINGÜE INTER...,EDUCACION,Teoria,11009,132953,PSICOLOGÍA EDUCATIVA,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,9390,"ENFERMERÍA EN SALUD DEL ADULTO II, 1",ZAMBRANO GUIMARAY JULIA ISABEL,11,ENFERMERÍA,ENFERMERÍA,Teoria,9390,132655,General,...,0,0,0,0,0,0,0,0,0,0
8603,10789,"SEMINARIO DE TESIS, 2",ZARZOSA MARQUEZ EVA DELFINA,13,ADMINISTRACIÓN,ADMINISTRACIÓN,Teoria,10789,132914,General,...,0,0,0,0,0,0,0,0,0,0
8604,11204,"INGLÉS BÁSICO I, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria,11204,132994,General,...,0,0,0,0,0,0,0,0,0,0
8605,12914,"INGLÉS BÁSICO III, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria,12914,133362,General,...,0,0,0,0,0,0,0,0,0,0
8606,12921,"COMPOSICIÓN EN INGLÉS I, 1",ZANABRIA PEREZ WALTER ALFREDO,29,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria,12921,133364,General,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_all = df_all.drop(['curso', 'id_curso', 'id_escuela'], axis=1)
df_all

,nombre_curso,nombre_docente,nombre_escuela,departamento_docente,tipo_curso,id_recurso,nombre,forum,resource,assign,...,page,lesson,choice,scorm,h5pactivity,data,book,wiki,glossary,feedback
0,"FUNDAMENTOS DE DISEÑO, 1",MORA GODINEZ LUIS RAMON,ARQUITECTURA Y URBANISMO,INGENIERIA CIVIL,Teoria,133541,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"TEORÍA DEL TURISMO, 1",BLACIDO ALVA LUZ,TURISMO,TURISMO,Teoria,132692,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"ORGANIZACIÓN DE CONGRESOS Y EVENTOS, 1",BLACIDO ALVA LUZ,TURISMO,TURISMO,Teoria,133320,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"TALLER DE INVESTIGACIÓN EDUCATIVA I, 1",NIVIN VARGAS LAURA ROSA,"EDUCACIÓN: COMUNICACIÓN, LINGÜÍSTICA Y LITERAT...",EDUCACION,Teoria,132991,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"PSICOLOGÍA EDUCATIVA, 1",LOPEZ CRUZ BERTHA,EDUCACIÓN: PRIMARIA Y EDUCACIÓN BILINGÜE INTER...,EDUCACION,Teoria,132953,PSICOLOGÍA EDUCATIVA,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,"ENFERMERÍA EN SALUD DEL ADULTO II, 1",ZAMBRANO GUIMARAY JULIA ISABEL,ENFERMERÍA,ENFERMERÍA,Teoria,132655,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8603,"SEMINARIO DE TESIS, 2",ZARZOSA MARQUEZ EVA DELFINA,ADMINISTRACIÓN,ADMINISTRACIÓN,Teoria,132914,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8604,"INGLÉS BÁSICO I, 1",ZANABRIA PEREZ WALTER ALFREDO,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria,132994,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8605,"INGLÉS BÁSICO III, 1",ZANABRIA PEREZ WALTER ALFREDO,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria,133362,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8606,"COMPOSICIÓN EN INGLÉS I, 1",ZANABRIA PEREZ WALTER ALFREDO,EDUCACIÓN: LENGUA EXTRANJERA: INGLÉS,EDUCACION,Teoria,133364,General,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df_all['nombre_semana'] = df_all['nombre'].apply(lambda x: ' '.join(x.split(' ')[:3]))

In [92]:
# from datetime import datetime
# ahora = datetime.now()
# ahora = ahora.strftime("%Y%m%d_%H%M%S")
# df_all.to_csv(f'./data/datos_semana_9_{ahora}.csv', index=False)

In [82]:
# df_all[df_all['nombre_docente'].isin(['MEDINA LOPEZ WALTER JUNIOR'])].nombre_curso.unique()

array([' PLANEAMIENTO ESTRATÉGICO DE LOS SISTEMAS DE INFORMACIÓN, 1',
       ' INGENIERÍA DEL SOFTWARE I, 2', ' BASE DE DATOS, 1'], dtype=object)

In [ ]:
df_reporte = df_all[['departamento_docente', 'nombre_docente', 'nombre_curso', 'nombre', 'nombre_semana', 'forum', 'resource', 'assign', 'url', 'quiz']]
columnas = ['Departamento Académico', 'Nombre Docente', 'Nombre Curso', 'Semana completo', 'Semana', 'Foro', 'Archivo', 'Tarea', 'URL', 'Cuestionario']
df_reporte.columns = columnas

In [17]:
df_reporte

,Departamento Académico,Nombre Docente,Nombre Curso,Semana completo,Semana,Foro,Archivo,Tarea,URL,Cuestionario
0,INGENIERIA CIVIL,MORA GODINEZ LUIS RAMON,"FUNDAMENTOS DE DISEÑO, 1",General,General,1,0,0,0,0
1,TURISMO,BLACIDO ALVA LUZ,"TEORÍA DEL TURISMO, 1",General,General,1,0,0,0,0
2,TURISMO,BLACIDO ALVA LUZ,"ORGANIZACIÓN DE CONGRESOS Y EVENTOS, 1",General,General,1,0,0,0,0
3,EDUCACION,NIVIN VARGAS LAURA ROSA,"TALLER DE INVESTIGACIÓN EDUCATIVA I, 1",General,General,1,0,0,0,0
4,EDUCACION,LOPEZ CRUZ BERTHA,"PSICOLOGÍA EDUCATIVA, 1",PSICOLOGÍA EDUCATIVA,PSICOLOGÍA EDUCATIVA,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8602,ENFERMERÍA,ZAMBRANO GUIMARAY JULIA ISABEL,"ENFERMERÍA EN SALUD DEL ADULTO II, 1",General,General,1,0,0,0,0
8603,ADMINISTRACIÓN,ZARZOSA MARQUEZ EVA DELFINA,"SEMINARIO DE TESIS, 2",General,General,1,0,0,0,0
8604,EDUCACION,ZANABRIA PEREZ WALTER ALFREDO,"INGLÉS BÁSICO I, 1",General,General,1,0,0,0,0
8605,EDUCACION,ZANABRIA PEREZ WALTER ALFREDO,"INGLÉS BÁSICO III, 1",General,General,1,0,0,0,0
8606,EDUCACION,ZANABRIA PEREZ WALTER ALFREDO,"COMPOSICIÓN EN INGLÉS I, 1",General,General,1,0,0,0,0

In [18]:
df_reporte.to_excel('./data/reporte_hasta_semana_9.xlsx', index=False)