In [1]:
import pandas as pd

In [5]:
diccionario = {
    'nombre': ['Juan', 'Pepe'],
    'edad': [10, 12],
    'ciudad': ['Madrid', 'Barcelona'],
    'pais': ['España', 'España']
}

In [6]:
df = pd.DataFrame(diccionario)

In [7]:
df

  nombre  edad     ciudad    pais
0   Juan    10     Madrid  España
1   Pepe    12  Barcelona  España