In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/2008.csv', nrows=10000)
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2008,1,6,7,2000.0,1955,2121.0,2115,WN,593,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9996,2008,1,6,7,1624.0,1620,1742.0,1740,WN,618,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9997,2008,1,6,7,1946.0,1805,2059.0,1930,WN,646,...,4.0,8.0,0,NaN,0,0.0,0.0,6.0,0.0,83.0
9998,2008,1,6,7,1549.0,1430,1706.0,1550,WN,656,...,3.0,6.0,0,NaN,0,0.0,48.0,0.0,0.0,28.0
9999,2008,1,6,7,1050.0,1050,1211.0,1210,WN,680,...,6.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
np.random.seed(0)
df = df[df.Origin.isin(['HOU', 'ATL', 'IND'])]
df = df.sample(frac=1)
df = df[0:10000]

In [5]:
df['BigDelay'] = df.ArrDelay > 30
observados = pd.crosstab(df['BigDelay'], df['Origin'], margins=True)
observados

Origin    HOU  IND  All
BigDelay
False     369   57  426
True       24    5   29
All       393   62  455

In [6]:
from scipy.stats import chi2_contingency

In [7]:
test = chi2_contingency(observados)
test

Chi2ContingencyResult(statistic=0.34391911762331556, pvalue=0.9868054470931583, dof=4, expected_freq=array([[367.95164835,  58.04835165, 426.        ],
       [ 25.04835165,   3.95164835,  29.        ],
       [393.        ,  62.        , 455.        ]]))

In [8]:
esperados = pd.DataFrame(test[3])
esperados

            0          1      2
0  367.951648  58.048352  426.0
1   25.048352   3.951648   29.0
2  393.000000  62.000000  455.0

In [9]:
esperados_rel = round(esperados.apply(lambda r: r/len(df) * 100, axis=1), 2)

In [10]:
observados_rel = round(observados.apply(lambda r: r/len(df) * 100, axis=1), 2)

In [11]:
observados_rel

Origin      HOU    IND     All
BigDelay
False     81.10  12.53   93.63
True       5.27   1.10    6.37
All       86.37  13.63  100.00

In [12]:
esperados_rel

       0      1       2
0  80.87  12.76   93.63
1   5.51   0.87    6.37
2  86.37  13.63  100.00

In [13]:
test[1]

0.9868054470931583