## Transformando un dataframe en una base de datos relacional.

In [1]:
import pandas as pd

In [2]:
data = [
    (1, 'Joan', 'Gasull', 25, 1, 'Libreta', 1.2, .4, 0.8, 3, '03-02-2018'),
    (1, 'Joan', 'Gasull', 25, 2, 'Boligrafo', 0.6, .2, 0.4, 1, '03-02-2018'),
    (1, 'Joan', 'Gasull', 25, 3, 'Goma', 0.5, .1, 0.4, 1, '03-02-2018'),
    (1, 'Joan', 'Gasull', 25, 4, 'Sacapuntas', 1.2, .4, 0.8, 3, '03-02-2018'),
    (1, 'Joan', 'Gasull', 25, 5, 'Cuaderno', 2.5, .5, 2, 5, '03-02-2018'),
    (1, 'Joan', 'Gasull', 25, 6, 'Lapiz', 0.5, .1, 0.4, 1, '03-02-2018'),
    (2, 'Maria', 'Garcia', 25, 1, 'Libreta', 1.2, .4, 0.8, 3, '03-02-2018'),
    (2, 'Maria', 'Garcia', 25, 2, 'Boligrafo', 0.6, .2, 0.4, 1, '03-02-2018'),
    (2, 'Maria', 'Garcia', 25, 3, 'Goma', 0.5, .1, 0.4, 1, '03-02-2018'),
]

labels = [
    'id_cliente',
    'nombre',
    'apellido',
    'edad',
    'id_producto',
    'producto',
    'precio',
    'costo',
    'margen',
    'cantidad',
    'fecha'
]

In [3]:
df = pd.DataFrame.from_records(data, columns=labels)
df

,id_cliente,nombre,apellido,edad,id_producto,producto,precio,costo,margen,cantidad,fecha
0,1,Joan,Gasull,25,1,Libreta,1.2,0.4,0.8,3,03-02-2018
1,1,Joan,Gasull,25,2,Boligrafo,0.6,0.2,0.4,1,03-02-2018
2,1,Joan,Gasull,25,3,Goma,0.5,0.1,0.4,1,03-02-2018
3,1,Joan,Gasull,25,4,Sacapuntas,1.2,0.4,0.8,3,03-02-2018
4,1,Joan,Gasull,25,5,Cuaderno,2.5,0.5,2.0,5,03-02-2018
5,1,Joan,Gasull,25,6,Lapiz,0.5,0.1,0.4,1,03-02-2018
6,2,Maria,Garcia,25,1,Libreta,1.2,0.4,0.8,3,03-02-2018
7,2,Maria,Garcia,25,2,Boligrafo,0.6,0.2,0.4,1,03-02-2018
8,2,Maria,Garcia,25,3,Goma,0.5,0.1,0.4,1,03-02-2018

In [4]:
compradores = df[['id_cliente', 'nombre', 'apellido', 'edad']].drop_duplicates()

In [5]:
compradores

   id_cliente nombre apellido  edad
0           1   Joan   Gasull    25
6           2  Maria   Garcia    25

In [6]:
productos = df[['id_producto', 'producto', 'precio', 'costo', 'margen']].drop_duplicates()

In [7]:
productos

   id_producto    producto  precio  costo  margen
0            1     Libreta     1.2    0.4     0.8
1            2   Boligrafo     0.6    0.2     0.4
2            3        Goma     0.5    0.1     0.4
3            4  Sacapuntas     1.2    0.4     0.8
4            5    Cuaderno     2.5    0.5     2.0
5            6       Lapiz     0.5    0.1     0.4

In [8]:
compras = df[['id_cliente', 'id_producto', 'cantidad', 'fecha']]

In [9]:
compras

   id_cliente  id_producto  cantidad       fecha
0           1            1         3  03-02-2018
1           1            2         1  03-02-2018
2           1            3         1  03-02-2018
3           1            4         3  03-02-2018
4           1            5         5  03-02-2018
5           1            6         1  03-02-2018
6           2            1         3  03-02-2018
7           2            2         1  03-02-2018
8           2            3         1  03-02-2018