In [1]:
import pandas as pd

In [2]:
consumidores = [
    ('A', 'Móvil'), ('B', 'Móvil'), ('C', 'Móvil'), ('D', 'Móvil'), ('E', 'Móvil'),
    ('A', 'Tablet'), ('B', 'Tablet'), ('C', 'Tablet'), ('D', 'Tablet'), ('E', 'Tablet'),
    ('A', 'Portátil'), ('B', 'Portátil'), ('C', 'Portátil'), ('D', 'Portátil'), ('E', 'Portátil'),
    ('A', 'TV'), ('B', 'TV'), ('C', 'TV'), ('D', 'TV'), ('E', 'TV'),
    ('A', 'Consola'), ('B', 'Consola'), ('C', 'Consola'), ('D', 'Consola'), ('E', 'Consola')
]

con_labels = ['Consumidor', 'Producto']

consumidores_df = pd.DataFrame.from_records(consumidores, columns=con_labels)
consumidores_df

   Consumidor  Producto
0           A     Móvil
1           B     Móvil
2           C     Móvil
3           D     Móvil
4           E     Móvil
5           A    Tablet
6           B    Tablet
7           C    Tablet
8           D    Tablet
9           E    Tablet
10          A  Portátil
11          B  Portátil
12          C  Portátil
13          D  Portátil
14          E  Portátil
15          A        TV
16          B        TV
17          C        TV
18          D        TV
19          E        TV
20          A   Consola
21          B   Consola
22          C   Consola
23          D   Consola
24          E   Consola

In [4]:
productores = [
    ('1', 'Móvil'), ('1', 'Tablet'), ('2', 'Portátil'), ('3', 'TV'), ('3', 'Consola')
]

prod_labels = ['Productor', 'Producto']
productores_df = pd.DataFrame.from_records(productores, columns=prod_labels)
productores_df

  Productor  Producto
0         1     Móvil
1         1    Tablet
2         2  Portátil
3         3        TV
4         3   Consola

In [5]:
pd.merge(consumidores_df, productores_df, on='Producto', how='outer')

   Consumidor  Producto Productor
0           A     Móvil         1
1           B     Móvil         1
2           C     Móvil         1
3           D     Móvil         1
4           E     Móvil         1
5           A    Tablet         1
6           B    Tablet         1
7           C    Tablet         1
8           D    Tablet         1
9           E    Tablet         1
10          A  Portátil         2
11          B  Portátil         2
12          C  Portátil         2
13          D  Portátil         2
14          E  Portátil         2
15          A        TV         3
16          B        TV         3
17          C        TV         3
18          D        TV         3
19          E        TV         3
20          A   Consola         3
21          B   Consola         3
22          C   Consola         3
23          D   Consola         3
24          E   Consola         3