In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/personal_data.csv')
df

       id first_name   last_name                      email  gender  languaje
0       1      Pavel     Roberts        proberts0@hexun.com    Male       NaN
1       2    Heywood    Delgardo    hdelgardo1@examiner.com    Male   Burmese
2       3    Gaspard       Keher            gkeher2@icq.com    Male   Amharic
3       4     Edgard      Kesten       ekesten3@pcworld.com    Male       NaN
4       5    Padraig         Wey          pwey4@arizona.edu    Male  Croatian
..    ...        ...         ...                        ...     ...       ...
995   996      Lanie  McIlherran    lmcilherranrn@alexa.com    Male    Korean
996   997       Wash    Frossell  wfrossellro@cafepress.com    Male   Dhivehi
997   998     Marijn     O'Gavin     mogavinrp@linkedin.com    Male     Azeri
998   999   Quintina   Sherbrook       qsherbrookrq@last.fm  Female   Finnish
999  1000  Francklyn    Jacobsen        fjacobsenrr@php.net    Male     Swati

[1000 rows x 6 columns]

# Obtener información básica de un DataFrame

In [5]:
# Numero de filas y columnas
df.shape

(1000, 6)

In [6]:
# Nos informa del indice
df.index

RangeIndex(start=0, stop=1000, step=1)

In [7]:
# Nos informa de las columnas
df.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'languaje'], dtype='object')

In [8]:
# Nos informa de los tipos de datos de cada columna
df.dtypes

id             int64
first_name    object
last_name     object
email         object
gender        object
languaje      object
dtype: object

In [9]:
# Nos informa de los valores únicos de una columna
df['first_name'].unique()

array(['Pavel', 'Heywood', 'Gaspard', 'Edgard', 'Padraig', 'Matthias',
       'Marice', 'Shandeigh', 'Derward', 'Shayna', 'Launce', 'Woodman',
       'Krystyna', 'Pauletta', 'Sheffield', 'Traver', 'Nedi', 'Fancie',
       'Aurelie', 'Danila', 'Kristos', 'Lila', 'Tarra', 'Susie', 'Hilde',
       'Dayna', 'Reynard', 'Westbrook', 'Natal', 'Linzy', 'Giustina',
       'Jimmy', 'Dare', 'Barry', 'Giovanna', 'Ulrikaumeko', 'Dominique',
       'Kenyon', 'Preston', 'Kip', 'Gradeigh', 'Gothart', 'Josephina',
       'Roda', 'Rustie', 'Reeta', 'Rhianon', 'Bernadene', 'Evaleen',
       'Chase', 'Samuele', 'Ruthie', 'Benny', 'Wylma', 'Bertrando',
       'Aprilette', 'Cordula', 'Arman', 'Ardene', 'Patrice', 'Izabel',
       'Kalindi', 'Carroll', 'Silas', 'Waylon', 'Phedra', 'Germana',
       'Rubina', 'Aliza', 'Matilde', 'Liv', 'Norman', 'Clayborne',
       'Cyril', 'Pamelina', 'Chadwick', 'Miles', 'Louis', 'Bald', 'Lindy',
       'Bibi', 'Darby', 'Reynolds', 'Casper', 'Erin', 'Richmond',
       'Reidar', 'Nedda', 'Chiquita', 'Berne', 'Tadio', 'Dacey', 'Ilise',
       'Den', 'Etti', 'Mag', 'Dag', 'Row', 'Emelda', 'Keir', 'Alic',
       'Camille', 'Bethena', 'Sissy', 'Kalie', 'Dion', 'Garnet', 'Rae',
       'Currey', 'Alexei', 'Steffane', 'Torin', 'Ardyce', 'Vanna',
       'Merline', 'Tibold', 'Jarid', 'Guglielma', 'Nikolia', 'Jennilee',
       'Catlee', 'Melisent', 'Maxim', 'Joye', 'Rosabel', 'Jeremy',
       'Helaine', 'Katherina', 'Milo', 'Berti', 'Barnard', 'Ardelle',
       'Zedekiah', 'Vallie', 'Emma', 'Prinz', 'Blane', 'Shane', 'Suzann',
       'Aila', 'Vladamir', 'Norbie', 'Vannie', 'Daisi', 'Krishnah',
       'Stephana', 'Minette', 'Rory', 'Roobbie', 'Dudley', 'Roth',
       'Krissy', 'Karim', 'Candi', 'Valeda', 'Cornie', 'Burk', 'Axe',
       'Dell', 'Wat', 'Bella', 'Lauren', 'Maximo', 'Foster', 'Ealasaid',
       'Gertrude', 'Jaine', 'Cammi', 'Alisander', 'Shadow', 'Jacinta',
       'Thia', 'Marga', 'Adham', 'Emmalee', 'Olenka', 'Geralda', 'Fredia',
       'Spenser', 'Neila', 'Syman', 'Phillipp', 'Jehanna', 'Eula',
       'Karlyn', 'Terry', 'Davis', 'Anabella', 'Bertrand', 'Cleavland',
       'Cazzie', 'Pincas', 'Maxwell', 'Maressa', 'Karney', 'Amil',
       'Clarice', 'Earle', 'Guenevere', 'Andie', 'Coop', 'Grenville',
       'Cloris', 'Willie', 'Andrea', 'Mayer', 'Latia', 'Arvie', 'Wini',
       'Sarene', 'Rolf', 'Gabriele', 'Duky', 'Kial', 'Gaelan', 'Felipe',
       'Lowe', 'Auria', 'Borg', 'Annabel', 'Annetta', 'Brittani',
       'Frederik', 'Georgina', 'Lauraine', 'Hershel', 'Perceval',
       'Laurice', 'Oliver', 'Magdalene', 'Alejandro', 'Chandler',
       'Coleman', 'Kissiah', 'Paxton', 'Glen', 'Sallie', 'Robinet',
       'Stephani', 'Wallie', 'Penny', 'Morena', 'Spense', 'Maddy',
       'Arlee', 'Katleen', 'Eben', 'Iggie', 'Mahmoud', 'Wilfrid', 'Kris',
       'Lizette', 'Kizzee', 'Rodina', 'Christopher', 'Kleon', 'Sibella',
       'Read', 'Arnoldo', 'Carlina', 'Cori', 'Merna', 'Breanne', 'Ynez',
       'Jenn', 'Esra', 'Salomi', 'Mirabel', 'Hoyt', 'Jacklin', 'Bendick',
       'Kevan', 'Mitchel', 'Sandye', 'Miguela', 'Lazare', 'Marcille',
       'Christyna', 'Lorelei', 'Lev', 'Myrah', 'Birdie', 'Kevon', 'Avram',
       'Katlin', 'Taddeo', 'Paquito', 'Maryanna', 'Timothea', 'Milicent',
       'Alexandro', 'Loraine', 'Cate', 'Joey', 'Brinna', 'Hewe', 'Tobin',
       'Peadar', 'Brittne', 'Georges', 'Paxon', 'Augustus', 'Morty',
       'Belle', 'Susann', 'Vernice', 'Katha', 'Francine', 'Augy',
       'Ernesto', 'Konrad', 'Colin', 'Kerwinn', 'Lion', 'Fredra',
       'Gianina', 'Benjie', 'Deana', 'Jakie', 'Geri', 'Eduardo', 'Uriel',
       'Hyacinthie', 'Ilaire', 'Marcella', 'Janet', 'Helen', 'Arielle',
       'Rita', 'Julieta', 'Deloris', 'Bernita', 'Darb', 'Ginevra', 'Chad',
       'Xaviera', 'Brander', 'Elston', 'Freddie', 'Alika', 'Yuma',
       'Brena', 'Fayina', 'Noam', 'Myrna', 'Gibbie', 'Wyndham', 'Arnold',
       'Karisa', 'Florie', 'Nelia', 'Jeanie', 'Sawyere', 'Chen',
       'Ambrosi', 'Eldridge', 'Tomas', 'Paloma', 'Geoffry', 'Paton',
       'Araldo', 'Daryl', 'Kent', 'Clemmy', 'Leighton', 'Josefina',
       'Othelia', 'Curran', 'Booth', 'Laina', 'Bancroft', 'Frank',
       'Cathrin', 'Sam', 'Darice', 'Moll', 'Grant', 'Kristo', 'Clim',
       'Sarena', 'Paddy', 'Kaile', 'Arlin', 'Missy', 'Lari', 'Farand',
       'Robbert', 'Jamey', 'Noelani', 'Felizio', 'Alyse', 'Aili',
       'Jamima', 'Wandis', 'Cilka', 'Zach', 'Jefferson', 'Murray',
       'Eirena', 'Karil', 'Suzanne', 'Marijn', 'Mead', 'Lamont', 'Elke',
       'Fannie', 'Marlin', 'Clio', 'Bria', 'Merell', 'Payton', 'Coletta',
       'Terrijo', 'Loni', 'Faye', 'Guthrie', 'Archibold', 'Lyssa',
       'Mathilda', 'Terrell', 'Eda', 'Lonnie', 'Mignon', 'Nataniel',
       'Demott', 'Skelly', 'Mia', 'Michel', 'Zaneta', 'Celesta',
       'Antonio', 'Darius', 'Addia', 'Maurits', 'Stephannie', 'Shoshanna',
       'Sal', 'Nicoli', 'Darcee', 'Melodee', 'Kylie', 'Ulises',
       'Christen', 'Leodora', 'Zonnya', 'Ewell', 'Lyon', 'Dacie',
       'Leelah', 'Xavier', 'Hodge', 'Pat', 'Terri-jo', 'Jewell', 'Weidar',
       'Shirleen', 'Dorrie', 'Quinn', 'Kore', 'Arleta', 'Marjy', 'Correy',
       'Lydie', 'Red', 'Nevile', 'Pernell', 'Brooks', 'Cathyleen', 'Thor',
       'Marilee', 'Tiffi', 'Alden', 'Jobey', 'Shaun', 'Patrizius',
       'Jamill', 'Arline', 'Nomi', 'Blinny', 'Stinky', 'Sheffie', 'Toni',
       'Eldredge', 'Park', 'Agace', 'Kassia', 'Vinni', 'Sonny', 'Baxter',
       'Anton', 'Charlean', 'Skyler', 'Abbe', 'Alexandros', 'Duff',
       'Travus', 'Efren', 'Valaree', 'Chrisy', 'Percival', 'Carter',
       'Boyd', 'Teriann', 'Olga', 'Giselle', 'Tim', 'Clary', 'Doro',
       'Dallon', 'Lorain', 'Leonerd', 'Grace', 'Osborne', 'Ingaberg',
       'Jedidiah', 'Marietta', 'Sherwynd', 'Valeria', 'Patience',
       'Delila', 'Janette', 'Anjela', 'Teddi', 'Carlin', 'Hew', 'Caril',
       'Karlan', 'Miran', 'Clarance', 'Babbette', 'Miguelita', 'Rickie',
       'Lida', 'Roddie', 'Kippie', 'Graehme', 'Basile', 'Celina', 'Neal',
       'Gustave', 'Livia', 'Reinwald', 'Ezequiel', 'Deina', 'Byrle',
       'Joshua', 'Lexie', 'Karlik', 'Nolly', 'Sheff', 'Pippo', 'Andrew',
       'Allys', 'Steffi', 'Odessa', 'Selie', 'Mar', 'Arther', 'Angelica',
       'Allayne', 'Waverly', 'Harry', 'Dulcie', 'Stacee', 'Millisent',
       'Christie', 'Torre', 'Dorisa', 'Noelyn', 'Bradly', 'Hirsch',
       'Maryanne', 'Bertram', 'Ester', 'Rodger', 'Tallou', 'Manuel',
       'Ambrosio', 'Bevan', 'Kristoforo', 'Artemus', 'Isadora', 'Dela',
       'Rudy', 'Nathan', 'Mort', 'Benyamin', 'Dian', 'Beverly', 'Sheela',
       'Gabriella', 'Emmet', 'Damon', 'Sanders', 'Camey', 'Alisa', 'Egon',
       'Gunilla', 'Antonius', 'Romola', 'Riccardo', 'Halsey', 'Alphonse',
       'Cale', 'Balduin', 'Marketa', 'Bree', 'Susi', 'Rhett', 'Pattie',
       'Hertha', 'Carrissa', 'Ami', 'Nahum', 'Eachelle', 'Sabina',
       'Kaleb', 'Jennee', 'Joby', 'Danya', 'Brigit', 'Gretchen', 'Channa',
       'Geoffrey', 'Norby', 'Fawn', 'Liesa', 'Venus', 'Ingmar',
       'Roseanna', 'Novelia', 'Sheridan', 'Lezley', 'Roanne', 'Cybill',
       'Jordan', 'Damien', 'Gunner', 'Giffer', 'Bendix', 'Franni',
       'Miller', 'Aurilia', 'Klaus', 'Dew', 'Erwin', 'Lyndy', 'Clarke',
       'Neils', 'Marybelle', 'Northrop', 'Fleming', 'Bjorn', 'Bernette',
       'Malorie', 'Krystle', 'Wileen', 'Ede', 'Ardine', 'Maury',
       'Sigfrid', 'Roseann', 'Loreen', 'Heinrik', 'Russell', 'Frederich',
       'Trip', 'Franz', 'Mycah', 'Eddie', 'Karel', 'Evita', 'Nyssa',
       'Woodrow', 'Poul', 'Hobey', 'Tammie', 'Ddene', 'Gabriela', 'Bern',
       'Carie', 'Berke', 'Kristofor', 'Georgianna', 'Consolata', 'Deeann',
       'Moreen', 'Hasheem', 'Gibb', 'Fons', 'Junie', 'Hastings',
       'Penelope', 'Elinor', 'Denna', 'Ferris', 'Jolene', 'Matty',
       'Datha', 'Freida', 'Eal', 'Gwenette', 'Lars', 'Cordie', 'Paco',
       'Nappy', 'Bobette', 'Stephine', 'Maryellen', 'Jessie', 'Sigismond',
       'Delphine', 'Adriaens', 'Willabella', 'Joline', 'Melvin',
       'Madelene', 'Ignatius', 'Gabbie', 'Marlo', 'Angelico', 'Ally',
       'Blakelee', 'Modestine', 'Inga', 'Zolly', 'Flem', 'Harwilll',
       'Larina', 'Titus', 'Roxine', 'Bari', 'Faber', 'Essa', 'Milly',
       'Windham', 'Tierney', 'Myer', 'Celka', 'Ronalda', 'Karon',
       'Hadleigh', 'Tatiana', 'Vic', 'Joaquin', 'Papageno', 'Mei',
       'Celestyna', 'Jozef', 'Jaquelyn', 'Ellette', 'Paige', 'Gabi',
       'Rhodie', 'Bill', 'Manda', 'Grier', 'Sybyl', 'Rolfe', 'Edin',
       'Jayme', 'Aigneis', 'Constance', 'Saundra', 'Teressa', 'Shamus',
       'Reid', 'Sheree', 'Jermayne', 'Amargo', 'Ethel', 'Hagan', 'Layney',
       'Berty', 'Andy', 'Meta', 'Tripp', 'Arlen', 'Langston', 'Anthea',
       'Gerti', 'Anya', 'Minnie', 'Anthia', 'Tessa', 'Marve', 'Denys',
       'Morris', 'Giavani', 'Annecorinne', 'Ricky', 'Ericka', 'Karry',
       'Tanner', 'Ade', 'Edwin', 'Frances', 'Andre', 'Dulcea', 'Nichol',
       'Nancie', 'Hilario', 'Archaimbaud', 'Lloyd', 'Ginny', 'Joelly',
       'Yolande', 'Stevie', 'Karlotte', 'Bekki', 'Nikos', 'Gena', 'Deb',
       'Guillemette', 'Kendricks', 'Bev', 'Sigvard', 'Casie', 'Bryan',
       'Calli', 'Jeffrey', 'Lorry', 'Sherry', 'Simonne', 'Lonnard', 'Gus',
       'Roselin', 'Des', 'Brendon', 'Margeaux', 'Natassia', 'Petronia',
       'Juliana', 'Rebe', 'Shela', 'Massimo', 'Graham', 'Marty', 'Ree',
       'Devlen', 'Fabe', 'Carlyle', 'Rudolfo', 'Bird', 'Cristionna',
       'Adore', 'Alaster', 'Filmore', 'Jerri', 'Evanne', 'Leslie',
       'Cullin', 'Debra', 'Stanislaus', 'Darrick', 'Jeannette', 'Rozele',
       'Evelina', 'Belicia', 'Normy', 'Sarah', 'Rosanna', 'Andrej',
       'Tove', 'Anica', 'Jammal', 'Fanchon', 'Daniela', 'Wilbur', 'Barb',
       'Leif', 'Trix', 'Codie', 'Marinna', 'Corinna', 'Laird', 'Errick',
       'Sax', 'Lambert', 'Lind', 'Cirillo', 'Jasmine', 'Tedra',
       'Bartolemo', 'Alysa', 'Lesya', 'Dyanna', 'Carlie', 'Adela',
       'Courtnay', 'Mathilde', 'Ritchie', 'Cherice', 'Grannie', 'Curr',
       'Budd', 'Anna-diana', 'Matthiew', 'Roxanna', 'Lorrie', 'Thomasin',
       'Delcine', 'Stacy', 'Birch', 'Baily', 'Ali', 'Ashia', 'Francis',
       'Kory', 'Turner', 'Radcliffe', 'Prentice', 'Giorgia', 'Phyllys',
       'Chelsy', 'Mason', 'Nowell', 'Shea', 'Carlo', 'Bran', 'Iona',
       'Kendra', 'Krystalle', 'Gaile', 'Tannie', 'Tobias', 'Stillmann',
       'Gaby', 'Leopold', 'Gilbertina', 'Cinnamon', 'Hillary', 'Jenilee',
       'Lindie', 'Javier', 'Lulu', 'Chickie', 'Blake', 'Husein',
       'L;urette', 'Dorie', 'Sallyanne', 'Grethel', 'Nadean', 'Angy',
       'Odelinda', 'Pandora', 'Kalinda', 'Holden', 'Lanie', 'Wash',
       'Quintina', 'Francklyn'], dtype=object)

In [11]:
# Nos da información
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
 4   gender      894 non-null    object
 5   languaje    893 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [12]:
# Nos da información estadística de las columnas numéricas
df.describe()

                id
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [13]:
df.count()

id            1000
first_name    1000
last_name     1000
email         1000
gender         894
languaje       893
dtype: int64

In [17]:
df['id'].mean()

500.5