In [5]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/personal_data.csv')
df.head()

   id first_name last_name                    email gender  languaje
0   1      Pavel   Roberts      proberts0@hexun.com   Male       NaN
1   2    Heywood  Delgardo  hdelgardo1@examiner.com   Male   Burmese
2   3    Gaspard     Keher          gkeher2@icq.com   Male   Amharic
3   4     Edgard    Kesten     ekesten3@pcworld.com   Male       NaN
4   5    Padraig       Wey        pwey4@arizona.edu   Male  Croatian

### Aplicando funciones

In [4]:
multiplica_por_2 = lambda x: x*2

In [6]:
df['edad'] = np.random.randint(18, 65, size=len(df))

In [7]:
df

,id,first_name,last_name,email,gender,languaje,edad
0,1,Pavel,Roberts,proberts0@hexun.com,Male,NaN,44
1,2,Heywood,Delgardo,hdelgardo1@examiner.com,Male,Burmese,64
2,3,Gaspard,Keher,gkeher2@icq.com,Male,Amharic,59
3,4,Edgard,Kesten,ekesten3@pcworld.com,Male,NaN,62
4,5,Padraig,Wey,pwey4@arizona.edu,Male,Croatian,52
...,...,...,...,...,...,...,...
995,996,Lanie,McIlherran,lmcilherranrn@alexa.com,Male,Korean,25
996,997,Wash,Frossell,wfrossellro@cafepress.com,Male,Dhivehi,33
997,998,Marijn,O'Gavin,mogavinrp@linkedin.com,Male,Azeri,26
998,999,Quintina,Sherbrook,qsherbrookrq@last.fm,Female,Finnish,36
999,1000,Francklyn,Jacobsen,fjacobsenrr@php.net,Male,Swati,26

In [8]:
df['edad_doble'] = df['edad'].apply(multiplica_por_2)
df

,id,first_name,last_name,email,gender,languaje,edad,edad_doble
0,1,Pavel,Roberts,proberts0@hexun.com,Male,NaN,44,88
1,2,Heywood,Delgardo,hdelgardo1@examiner.com,Male,Burmese,64,128
2,3,Gaspard,Keher,gkeher2@icq.com,Male,Amharic,59,118
3,4,Edgard,Kesten,ekesten3@pcworld.com,Male,NaN,62,124
4,5,Padraig,Wey,pwey4@arizona.edu,Male,Croatian,52,104
...,...,...,...,...,...,...,...,...
995,996,Lanie,McIlherran,lmcilherranrn@alexa.com,Male,Korean,25,50
996,997,Wash,Frossell,wfrossellro@cafepress.com,Male,Dhivehi,33,66
997,998,Marijn,O'Gavin,mogavinrp@linkedin.com,Male,Azeri,26,52
998,999,Quintina,Sherbrook,qsherbrookrq@last.fm,Female,Finnish,36,72
999,1000,Francklyn,Jacobsen,fjacobsenrr@php.net,Male,Swati,26,52

In [9]:
# Sumar columna con un escalar
df['edad_doble_uno'] = df['edad_doble'] + 1

In [10]:
df

,id,first_name,last_name,email,gender,languaje,edad,edad_doble,edad_doble_uno
0,1,Pavel,Roberts,proberts0@hexun.com,Male,NaN,44,88,89
1,2,Heywood,Delgardo,hdelgardo1@examiner.com,Male,Burmese,64,128,129
2,3,Gaspard,Keher,gkeher2@icq.com,Male,Amharic,59,118,119
3,4,Edgard,Kesten,ekesten3@pcworld.com,Male,NaN,62,124,125
4,5,Padraig,Wey,pwey4@arizona.edu,Male,Croatian,52,104,105
...,...,...,...,...,...,...,...,...,...
995,996,Lanie,McIlherran,lmcilherranrn@alexa.com,Male,Korean,25,50,51
996,997,Wash,Frossell,wfrossellro@cafepress.com,Male,Dhivehi,33,66,67
997,998,Marijn,O'Gavin,mogavinrp@linkedin.com,Male,Azeri,26,52,53
998,999,Quintina,Sherbrook,qsherbrookrq@last.fm,Female,Finnish,36,72,73
999,1000,Francklyn,Jacobsen,fjacobsenrr@php.net,Male,Swati,26,52,53

In [11]:
# Sumar columna con otra columna
df['edad_doble_doble'] = df['edad_doble'] + df['edad_doble']

In [12]:
df

,id,first_name,last_name,email,gender,languaje,edad,edad_doble,edad_doble_uno,edad_doble_doble
0,1,Pavel,Roberts,proberts0@hexun.com,Male,NaN,44,88,89,176
1,2,Heywood,Delgardo,hdelgardo1@examiner.com,Male,Burmese,64,128,129,256
2,3,Gaspard,Keher,gkeher2@icq.com,Male,Amharic,59,118,119,236
3,4,Edgard,Kesten,ekesten3@pcworld.com,Male,NaN,62,124,125,248
4,5,Padraig,Wey,pwey4@arizona.edu,Male,Croatian,52,104,105,208
...,...,...,...,...,...,...,...,...,...,...
995,996,Lanie,McIlherran,lmcilherranrn@alexa.com,Male,Korean,25,50,51,100
996,997,Wash,Frossell,wfrossellro@cafepress.com,Male,Dhivehi,33,66,67,132
997,998,Marijn,O'Gavin,mogavinrp@linkedin.com,Male,Azeri,26,52,53,104
998,999,Quintina,Sherbrook,qsherbrookrq@last.fm,Female,Finnish,36,72,73,144
999,1000,Francklyn,Jacobsen,fjacobsenrr@php.net,Male,Swati,26,52,53,104