In [11]:
import pandas as pd
from datetime import date

In [12]:
df = pd.read_csv('../data/personal_data.csv')
df

,id,first_name,last_name,email,gender,languaje,birthday
0,1,Alfonso,Trunchion,atrunchion0@soup.io,Male,Hungarian,1993/07/09
1,2,Maurise,Raubenheim,mraubenheim1@vk.com,NaN,Dhivehi,2004/11/05
2,3,Arnold,Walley,awalley2@tinypic.com,Male,NaN,1991/03/14
3,4,Garland,Neiland,gneiland3@aol.com,Female,West Frisian,2001/11/28
4,5,Humphrey,Carbett,hcarbett4@posterous.com,Male,Chinese,1994/11/13
...,...,...,...,...,...,...,...
995,996,Salomo,Groundwator,sgroundwatorrn@pen.io,Male,Montenegrin,2002/12/01
996,997,Rayner,Harling,rharlingro@sogou.com,Male,Northern Sotho,1997/01/15
997,998,Mira,Maharry,mmaharryrp@comcast.net,Female,Nepali,1995/04/29
998,999,Cariotta,O'Shavlan,coshavlanrq@symantec.com,Female,Japanese,1998/04/01
999,1000,John,Aggett,jaggettrr@etsy.com,Male,Hiri Motu,1997/01/05

In [13]:
mi_fecha = date(2021, 1, 10)
mi_fecha

datetime.date(2021, 1, 10)

In [14]:
mi_fecha.month

1

In [15]:
date.today()

datetime.date(2023, 8, 8)