In [2]:
import pandas as pd
import numpy as np

In [3]:
diccionario = {'A': [[0, 1, 2], 'foo', [], [3, 4]],
               'B': 1,
               'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]
               }

In [4]:
df = pd.DataFrame(diccionario)
df

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [6]:
df.explode('A')

     A  B          C
0    0  1  [a, b, c]
0    1  1  [a, b, c]
0    2  1  [a, b, c]
1  foo  1        NaN
2  NaN  1         []
3    3  1     [d, e]
3    4  1     [d, e]

In [9]:
df.explode(['A', 'C']).reset_index(drop=True)

     A  B    C
0    0  1    a
1    1  1    b
2    2  1    c
3  foo  1  NaN
4  NaN  1  NaN
5    3  1    d
6    4  1    e

In [10]:
df

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [11]:
df = df.explode('A')
df

     A  B          C
0    0  1  [a, b, c]
0    1  1  [a, b, c]
0    2  1  [a, b, c]
1  foo  1        NaN
2  NaN  1         []
3    3  1     [d, e]
3    4  1     [d, e]

In [12]:
df = df.explode('C')

In [13]:
df

     A  B    C
0    0  1    a
0    0  1    b
0    0  1    c
0    1  1    a
0    1  1    b
0    1  1    c
0    2  1    a
0    2  1    b
0    2  1    c
1  foo  1  NaN
2  NaN  1  NaN
3    3  1    d
3    3  1    e
3    4  1    d
3    4  1    e

In [20]:
estudiantes = [
    {'nombre': 'Juan', 'id': 123, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [9, 10, 8, 7]},
    {'nombre': 'María', 'id': 456, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [10, 9, 8, 7]},
    {'nombre': 'Pedro', 'id': 789, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [8, 9, 10, 7]},
    {'nombre': 'Ana', 'id': 101, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [9, 10, 8, 7]},
    {'nombre': 'Luis', 'id': 112, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [10, 9, 8, 7]},
    {'nombre': 'Carlos', 'id': 131, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [8, 9, 10, 7]},
    {'nombre': 'Andrea', 'id': 415, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [9, 10, 8, 7]},
    {'nombre': 'Jorge', 'id': 161, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [10, 9, 8, 7]},
    {'nombre': 'Sandra', 'id': 171, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [8, 9, 10, 7]},
    {'nombre': 'Mónica', 'id': 181, 'materias': ['Historia', 'Lenguaje', 'Matemática', 'Economía'], 'calificaciones': [9, 10, 8, 7]}
]

In [21]:
df = pd.DataFrame(estudiantes)
df

   nombre   id                                    materias calificaciones
0    Juan  123  [Historia, Lenguaje, Matemática, Economía]  [9, 10, 8, 7]
1   María  456  [Historia, Lenguaje, Matemática, Economía]  [10, 9, 8, 7]
2   Pedro  789  [Historia, Lenguaje, Matemática, Economía]  [8, 9, 10, 7]
3     Ana  101  [Historia, Lenguaje, Matemática, Economía]  [9, 10, 8, 7]
4    Luis  112  [Historia, Lenguaje, Matemática, Economía]  [10, 9, 8, 7]
5  Carlos  131  [Historia, Lenguaje, Matemática, Economía]  [8, 9, 10, 7]
6  Andrea  415  [Historia, Lenguaje, Matemática, Economía]  [9, 10, 8, 7]
7   Jorge  161  [Historia, Lenguaje, Matemática, Economía]  [10, 9, 8, 7]
8  Sandra  171  [Historia, Lenguaje, Matemática, Economía]  [8, 9, 10, 7]
9  Mónica  181  [Historia, Lenguaje, Matemática, Economía]  [9, 10, 8, 7]

In [18]:
df = df.explode('materias')
df

   nombre   id    materias calificaciones
0    Juan  123    Historia  [9, 10, 8, 7]
0    Juan  123    Lenguaje  [9, 10, 8, 7]
0    Juan  123  Matemática  [9, 10, 8, 7]
0    Juan  123    Economía  [9, 10, 8, 7]
1   María  456    Historia  [10, 9, 8, 7]
1   María  456    Lenguaje  [10, 9, 8, 7]
1   María  456  Matemática  [10, 9, 8, 7]
1   María  456    Economía  [10, 9, 8, 7]
2   Pedro  789    Historia  [8, 9, 10, 7]
2   Pedro  789    Lenguaje  [8, 9, 10, 7]
2   Pedro  789  Matemática  [8, 9, 10, 7]
2   Pedro  789    Economía  [8, 9, 10, 7]
3     Ana  101    Historia  [9, 10, 8, 7]
3     Ana  101    Lenguaje  [9, 10, 8, 7]
3     Ana  101  Matemática  [9, 10, 8, 7]
3     Ana  101    Economía  [9, 10, 8, 7]
4    Luis  112    Historia  [10, 9, 8, 7]
4    Luis  112    Lenguaje  [10, 9, 8, 7]
4    Luis  112  Matemática  [10, 9, 8, 7]
4    Luis  112    Economía  [10, 9, 8, 7]
5  Carlos  131    Historia  [8, 9, 10, 7]
5  Carlos  131    Lenguaje  [8, 9, 10, 7]
5  Carlos  131  Matemática  [8, 9, 10, 7]
5  Carlos  131    Economía  [8, 9, 10, 7]
6  Andrea  415    Historia  [9, 10, 8, 7]
6  Andrea  415    Lenguaje  [9, 10, 8, 7]
6  Andrea  415  Matemática  [9, 10, 8, 7]
6  Andrea  415    Economía  [9, 10, 8, 7]
7   Jorge  161    Historia  [10, 9, 8, 7]
7   Jorge  161    Lenguaje  [10, 9, 8, 7]
7   Jorge  161  Matemática  [10, 9, 8, 7]
7   Jorge  161    Economía  [10, 9, 8, 7]
8  Sandra  171    Historia  [8, 9, 10, 7]
8  Sandra  171    Lenguaje  [8, 9, 10, 7]
8  Sandra  171  Matemática  [8, 9, 10, 7]
8  Sandra  171    Economía  [8, 9, 10, 7]
9  Mónica  181    Historia  [9, 10, 8, 7]
9  Mónica  181    Lenguaje  [9, 10, 8, 7]
9  Mónica  181  Matemática  [9, 10, 8, 7]
9  Mónica  181    Economía  [9, 10, 8, 7]

In [19]:
df = df.explode('calificaciones')
df

    nombre   id    materias calificaciones
0     Juan  123    Historia              9
0     Juan  123    Historia             10
0     Juan  123    Historia              8
0     Juan  123    Historia              7
0     Juan  123    Lenguaje              9
..     ...  ...         ...            ...
9   Mónica  181  Matemática              7
9   Mónica  181    Economía              9
9   Mónica  181    Economía             10
9   Mónica  181    Economía              8
9   Mónica  181    Economía              7

[160 rows x 4 columns]

In [23]:
df = df.explode(['materias', 'calificaciones']).reset_index(drop=True)
df

    nombre   id    materias calificaciones
0     Juan  123    Historia              9
1     Juan  123    Lenguaje             10
2     Juan  123  Matemática              8
3     Juan  123    Economía              7
4    María  456    Historia             10
5    María  456    Lenguaje              9
6    María  456  Matemática              8
7    María  456    Economía              7
8    Pedro  789    Historia              8
9    Pedro  789    Lenguaje              9
10   Pedro  789  Matemática             10
11   Pedro  789    Economía              7
12     Ana  101    Historia              9
13     Ana  101    Lenguaje             10
14     Ana  101  Matemática              8
15     Ana  101    Economía              7
16    Luis  112    Historia             10
17    Luis  112    Lenguaje              9
18    Luis  112  Matemática              8
19    Luis  112    Economía              7
20  Carlos  131    Historia              8
21  Carlos  131    Lenguaje              9
22  Carlos  131  Matemática             10
23  Carlos  131    Economía              7
24  Andrea  415    Historia              9
25  Andrea  415    Lenguaje             10
26  Andrea  415  Matemática              8
27  Andrea  415    Economía              7
28   Jorge  161    Historia             10
29   Jorge  161    Lenguaje              9
30   Jorge  161  Matemática              8
31   Jorge  161    Economía              7
32  Sandra  171    Historia              8
33  Sandra  171    Lenguaje              9
34  Sandra  171  Matemática             10
35  Sandra  171    Economía              7
36  Mónica  181    Historia              9
37  Mónica  181    Lenguaje             10
38  Mónica  181  Matemática              8
39  Mónica  181    Economía              7