In [5]:
import pandas as pd
import numpy as np

In [6]:
diccionario = {'a': [1, 2, 4], 'b': [2, 5, 1], 'c': [5, 7, 8]}
df = pd.DataFrame(diccionario)

In [7]:
df

   a  b  c
0  1  2  5
1  2  5  7
2  4  1  8

In [8]:
df['random'] = np.random.randint(0, 10)

In [9]:
df

   a  b  c  random
0  1  2  5       4
1  2  5  7       4
2  4  1  8       4

In [10]:
df['random2'] = np.random.randint(0, 10, 3)

In [11]:
df

   a  b  c  random  random2
0  1  2  5       4        8
1  2  5  7       4        9
2  4  1  8       4        3

In [12]:
df['random3'] = np.random.randint(0, 10, size=len(df))

In [13]:
df

   a  b  c  random  random2  random3
0  1  2  5       4        8        0
1  2  5  7       4        9        5
2  4  1  8       4        3        2

In [14]:
df['random4'] = np.random.rand(len(df))
df

   a  b  c  random  random2  random3   random4
0  1  2  5       4        8        0  0.487872
1  2  5  7       4        9        5  0.472991
2  4  1  8       4        3        2  0.133085

In [15]:
df['random5'] = np.random.uniform(3.5, 5, len(df))

In [16]:
df

   a  b  c  random  random2  random3   random4   random5
0  1  2  5       4        8        0  0.487872  4.176108
1  2  5  7       4        9        5  0.472991  4.286554
2  4  1  8       4        3        2  0.133085  4.455036

In [17]:
suma = lambda x, y: x + y

In [18]:
suma(2, 3)

5

In [19]:
df['suma'] = df.apply(lambda x: suma(x['a'], x['b']), axis=1)

In [20]:
df

   a  b  c  random  random2  random3   random4   random5  suma
0  1  2  5       4        8        0  0.487872  4.176108   3.0
1  2  5  7       4        9        5  0.472991  4.286554   7.0
2  4  1  8       4        3        2  0.133085  4.455036   5.0

In [25]:
df['tamano'] = df.apply(lambda x: 'grande' if x['suma'] > 5 else 'pequeño', axis=1)

In [26]:
df

   a  b  c  random  random2  random3   random4   random5  suma   tamano
0  1  2  5       4        8        0  0.487872  4.176108   3.0  pequeño
1  2  5  7       4        9        5  0.472991  4.286554   7.0   grande
2  4  1  8       4        3        2  0.133085  4.455036   5.0  pequeño

In [29]:
df['tamano2'] = df.apply(lambda x: len(x['tamano']), axis=1)

In [30]:
df

,a,b,c,random,random2,random3,random4,random5,suma,tamano,tamano2
0,1,2,5,4,8,0,0.487872,4.176108,3.0,pequeño,7
1,2,5,7,4,9,5,0.472991,4.286554,7.0,grande,6
2,4,1,8,4,3,2,0.133085,4.455036,5.0,pequeño,7

In [32]:
letras = lambda x: len(x)

In [34]:
df['tamano3'] = df['tamano'].apply(letras)

In [35]:
df

,a,b,c,random,random2,random3,random4,random5,suma,tamano,tamano2,tamano3
0,1,2,5,4,8,0,0.487872,4.176108,3.0,pequeño,7,7
1,2,5,7,4,9,5,0.472991,4.286554,7.0,grande,6,6
2,4,1,8,4,3,2,0.133085,4.455036,5.0,pequeño,7,7

In [36]:
df['tamano4'] = df['tamano'].apply(lambda x: len(x))

In [37]:
df

,a,b,c,random,random2,random3,random4,random5,suma,tamano,tamano2,tamano3,tamano4
0,1,2,5,4,8,0,0.487872,4.176108,3.0,pequeño,7,7,7
1,2,5,7,4,9,5,0.472991,4.286554,7.0,grande,6,6,6
2,4,1,8,4,3,2,0.133085,4.455036,5.0,pequeño,7,7,7