In [1]:
import pandas as pd

In [2]:
diccionario = {
    'nombre': ['Juan', 'Ana', 'Jose', 'Arturo', 'Maria', 'Julio'],
    'edad': [25, 18, 23, 27, 18, 24],
    'ciudad': ['Madrid', 'Barcelona', 'Sevilla', 'Valencia', 'Zaragoza', 'Bilbao']
}

df = pd.DataFrame(diccionario)
df

   nombre  edad     ciudad
0    Juan    25     Madrid
1     Ana    18  Barcelona
2    Jose    23    Sevilla
3  Arturo    27   Valencia
4   Maria    18   Zaragoza
5   Julio    24     Bilbao

### Guardar en CSV

In [4]:
df.to_csv('../data/datos.csv', index=False)

### Leer CSV

In [5]:
df_datos = pd.read_csv('../data/datos.csv')
df_datos

   nombre  edad     ciudad
0    Juan    25     Madrid
1     Ana    18  Barcelona
2    Jose    23    Sevilla
3  Arturo    27   Valencia
4   Maria    18   Zaragoza
5   Julio    24     Bilbao

### Guardar en Excel

In [6]:
df_datos.to_excel('../data/datos.xlsx', index=False)

In [7]:
df_datos.to_excel('../data/datos_hoja.xlsx', index=False, sheet_name='hoja_datos')