In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/personal_data.csv')
df

       id first_name   last_name                      email  gender  languaje
0       1      Pavel     Roberts        proberts0@hexun.com    Male       NaN
1       2    Heywood    Delgardo    hdelgardo1@examiner.com    Male   Burmese
2       3    Gaspard       Keher            gkeher2@icq.com    Male   Amharic
3       4     Edgard      Kesten       ekesten3@pcworld.com    Male       NaN
4       5    Padraig         Wey          pwey4@arizona.edu    Male  Croatian
..    ...        ...         ...                        ...     ...       ...
995   996      Lanie  McIlherran    lmcilherranrn@alexa.com    Male    Korean
996   997       Wash    Frossell  wfrossellro@cafepress.com    Male   Dhivehi
997   998     Marijn     O'Gavin     mogavinrp@linkedin.com    Male     Azeri
998   999   Quintina   Sherbrook       qsherbrookrq@last.fm  Female   Finnish
999  1000  Francklyn    Jacobsen        fjacobsenrr@php.net    Male     Swati

[1000 rows x 6 columns]

### Seleccion por indice

In [4]:
df[2:]

       id first_name   last_name                      email  gender  languaje
2       3    Gaspard       Keher            gkeher2@icq.com    Male   Amharic
3       4     Edgard      Kesten       ekesten3@pcworld.com    Male       NaN
4       5    Padraig         Wey          pwey4@arizona.edu    Male  Croatian
5       6   Matthias    Dechelle       mdechelle5@google.ru    Male  Estonian
6       7     Marice     Swiffin     mswiffin6@examiner.com  Female     Azeri
..    ...        ...         ...                        ...     ...       ...
995   996      Lanie  McIlherran    lmcilherranrn@alexa.com    Male    Korean
996   997       Wash    Frossell  wfrossellro@cafepress.com    Male   Dhivehi
997   998     Marijn     O'Gavin     mogavinrp@linkedin.com    Male     Azeri
998   999   Quintina   Sherbrook       qsherbrookrq@last.fm  Female   Finnish
999  1000  Francklyn    Jacobsen        fjacobsenrr@php.net    Male     Swati

[998 rows x 6 columns]

In [5]:
df[2:5]

   id first_name last_name                 email gender  languaje
2   3    Gaspard     Keher       gkeher2@icq.com   Male   Amharic
3   4     Edgard    Kesten  ekesten3@pcworld.com   Male       NaN
4   5    Padraig       Wey     pwey4@arizona.edu   Male  Croatian

In [10]:
df[['first_name', 'gender']][2:5]

  first_name gender
2    Gaspard   Male
3     Edgard   Male
4    Padraig   Male

### Por posición fila columna

In [11]:
# df.iloc[filas, columnas]
df.iloc[2:5, 0:2]

   id first_name
2   3    Gaspard
3   4     Edgard
4   5    Padraig

In [12]:
df.iloc[2:5, [0, 2]]

   id last_name
2   3     Keher
3   4    Kesten
4   5       Wey

In [13]:
df.iloc[2:5, [0, 2, 4]]

   id last_name gender
2   3     Keher   Male
3   4    Kesten   Male
4   5       Wey   Male

### Por etiqueta, fila por indice y columna por valor

In [16]:
df.loc[[1], ['first_name']]

  first_name
1    Heywood

### Filtros

In [18]:
df[df['gender'] == 'Male']

       id first_name   last_name                      email gender  languaje
0       1      Pavel     Roberts        proberts0@hexun.com   Male       NaN
1       2    Heywood    Delgardo    hdelgardo1@examiner.com   Male   Burmese
2       3    Gaspard       Keher            gkeher2@icq.com   Male   Amharic
3       4     Edgard      Kesten       ekesten3@pcworld.com   Male       NaN
4       5    Padraig         Wey          pwey4@arizona.edu   Male  Croatian
..    ...        ...         ...                        ...    ...       ...
994   995     Holden    Freeland           hfreelandrm@g.co   Male  Estonian
995   996      Lanie  McIlherran    lmcilherranrn@alexa.com   Male    Korean
996   997       Wash    Frossell  wfrossellro@cafepress.com   Male   Dhivehi
997   998     Marijn     O'Gavin     mogavinrp@linkedin.com   Male     Azeri
999  1000  Francklyn    Jacobsen        fjacobsenrr@php.net   Male     Swati

[388 rows x 6 columns]

In [22]:
df_nan = df[df['gender'].isna() & df['languaje'].isna()]

In [23]:
df_nan

      id first_name   last_name                          email gender languaje
44    45     Rustie     Winspur              rwinspur18@ed.gov    NaN      NaN
53    54      Wylma   Davidovic       wdavidovic1h@dedecms.com    NaN      NaN
82    83   Reynolds       Baird         rbaird2a@quantcast.com    NaN      NaN
120  121     Catlee  Penlington  cpenlington3c@dailymotion.com    NaN      NaN
299  300       Joey      Daltry            jdaltry8b@google.cn    NaN      NaN
468  469     Dorrie  Farquarson        dfarquarsond0@google.fr    NaN      NaN
499  500      Sonny     Servant        sservantdv@omniture.com    NaN      NaN
583  584      Torre     Duiguid     tduiguidg7@livejournal.com    NaN      NaN
601  602     Nathan    Enticott        nenticottgp@cbsnews.com    NaN      NaN